/* Thank ngocptblaplafla for helping me css */
h1, h2 {
    text-align: center;
    margin: 3mm;
}

h1 {
    font-size: 1.5em !important;
}

h2 {
    font-size: 1.25em !important;
}

h3 {
    font-size: 1.2em !important;
    margin: 3mm 0;
    padding-bottom: 1mm;
    padding-left: 1mm;
    padding-right: 3mm;
    width: fit-content;
    border-bottom: #1a1a1a solid 0.75mm;
}

h4 {
    font-size: 1.1em !important;
    margin-top: 2mm;
    margin-bottom: 1.5mm;
}

h5, h6 {
    font-size: 1em !important;
    display: block;
    margin: 0 0 1mm 14pt;
}

.temp_float {
    display: flex;
    width: 100%;
}

.temp_float>h6 {
    margin-left: auto;
}

#data {
    display: none;
    width: 21cm;
}

p, ul, ol, div {
    overflow: hidden;
    width: 97%;
}

p {
    text-indent: 14pt;
    margin: 2mm 0 2mm 14pt;
    text-align: justify;
}

ul,ol {
    margin: 1mm 0;
}

li {
    width: inherit;
}

.horizontal-list > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 0;
    gap: 0.75mm
}

.horizontal-list > ul > li {
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
    border-left: 1px solid #000;
    width: fit-content;
    padding-left: 2mm;
    padding-right: 2mm
}

.horizontal-list > ul > li:first-child {
    border-left: none;
}

.horizontal-list > ul:has(li:nth-child(2):last-child) > li {
    border-left: none;
}

.A4 {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0.5cm auto;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    overflow: hidden;
    box-sizing: border-box;
}

.container {
    width: 100%;
}


@page {
    size: A4;
    margin: 0;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .A4 {
        box-shadow: none;
        margin: 0;
        /*width: auto;*/
        /*height: auto;*/
    }

    .page-break {
        display: block;
        break-after: page;
    }

    #data, .noprint {
        display: none;
    }

    .enable-print {
        display: block;
    }
}